<!DOCTYPE html>
<html>

<head>
  <title>Foods</title>
</head>

<body>
  <h1>
    Ingredients for awesomsauce
  </h1>

  <ul>
    <% ingredients.forEach( ingredient => { %>
    <li>
      <%= ingredient %>
    </li>
    <% }) %>

  </ul>

</body>

</html>