<!DOCTYPE html>
<html>

<head>
  <title>Forms are Cool</title>
</head>

<body>
  <form method="post" action="/search">
    <!-- <form method="post" action="/save?john=bald"> -->
    <!-- <form method="get" action="/search"> -->
    <input type="text" name="title" placeholder="Title" />
    <input type="text" name="author" placeholder="Author" />
    <button>Go</button>
  </form>
</body>

</html>