html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: #f5f5f5;
}

body > header {
    background: #111;
    box-shadow: 0px 15px 10px -15px #111;
    color: #eee;
    line-height: 3em;
    text-align: center;
}

footer {
    background: #ccc;
    box-shadow: 0px 13px 12px 10px #111;
    height: 4em;
    line-height: 4em;
    text-align: center;
}

h1 {
    font-size: 1.5em;
}

main {
    overflow: auto;
    margin: 2em 0;
    padding: 0 2em;
}

.characters {
    width: auto;
}

.character {
    background: #fff;
    box-shadow: 0 10px 6px -6px #777;
    margin: 1em;
    width: 250px;
}

.character header {
    background: #ddd;
    line-height: 1.5em;
    text-align: center;
}

.character span {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2.5em;
    text-align: center;
}

.character button {
    display: block;
    margin: .5em auto;
    width: 50%;
}
