nav {
margin-top: 25px;
}

hr {
clear: both;
border: 0;
height: 13px;
background-image: url('../img/hr.png');
}

aside {
padding-top: 30px;
padding-bottom: 60px
}


section hr {
border-bottom: 1px solid #eee;
height: 0;
}


footer section p{
padding: 50px 0;
line-height: 1.5em;
text-align: center;
color: #aaa;
}
  