@media (min-width: 960px){
    body{
        display: grid;
        grid-template-rows: 200px 500px 200px;
        
    }
    
    main {
        display: grid;
        grid-template-columns: 20% auto 20%;
        
    }

    main > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #left{
        order: 1;
    }
    #main{
        order: 2;
    }
    #right{
        order: 3;
    }
    footer{
        order: -1;
    }
}